.navbar {
  background-color: #FFD700; /* Bright yellow background */
  border-bottom: 2px solid #007bff; /* Blue border at the bottom */
}

.navbar-brand {
  font-weight: bold;
  color: #007bff; /* Blue text */
  font-size: 24px;
}

.navbar-brand:hover {
  color: #0056b3; 
}

.navbar-nav .nav-link {
  color: #007bff; 
  font-weight: 500;
  margin-right: 15px;
}

.navbar-nav .nav-link:hover {
  color: #0056b3; /* Darker blue on hover */
  background-color: rgba(0, 123, 255, 0.1); /* Light blue hover effect */
  border-radius: 5px;
}

.navbar-collapse {
  justify-content: flex-end; /* Ensures items like login/register are aligned right */
}

.navbar-header {
  flex-grow: 1; /* Ensures brand is centered */
  left: 50%;
  margin-left: -50px;
  position: absolute;
  margin-top: 10px;
  
}
.navbar-logo {
  height: 50px; 
  width: auto; 
}


.container-fluid {
  padding: 10px 20px;
}