.container {
  margin: 0 auto;
  max-width: 1200px;
}


.add-new-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

.table-responsive {
  margin-top: 20px;
}

.table th, .table td {
  text-align: center;
}

.thead-dark {
  background-color: #343a40;
  color: #fff;
}

.btn-outline-primary, .btn-outline-danger {
  border-radius: 5px;
}
